input.placeholder {
    text-align: center;
}


input.dark{
    border: 1px solid #555;
    border-top: none;
    border-left: none;
    border-right: none;
}

input.light{
    border: 1px solid #555;
    border-top: none;
    border-left: none;
    border-right: none;
}